@import 'tailwindcss';

/* @import "tailwindcss"; */

@plugin "flyonui" {
   themes: light --default, ghibli --prefersdark;
}
@import 'primeicons/primeicons.css';

@import "flyonui/variants.css";




*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 150%
}

